body, html {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

#app {
    margin-top: 50px;
}

#flagImage {
    width: 520px;
    height: auto;
    margin: 20px 0;
}

.scoreText {
    font-size: 60px;
}

.player {
    width: 150px;
    height: 60px;
}

/* Personaliza el botón cuando está presionado */
.btn-custom1:active {
    background-color: #00ffee; /* Cambia este color al deseado */
    border-color: #00ffee;     /* Cambia este color al deseado */
    box-shadow: none;          /* Opcional: Elimina la sombra del botón si es necesario */
}


/* Imagen del avatar del jugador */

.circle-image::before {
    /* Se pone el tipo de content cada que se usa el before */
    content: normal;

    /* Alinear en el centro vertical */
    top: 50%;
    /* Alinear a la izquierda */
    left: 0;
    /* Ancho del elemento */
    width: 100%;
    /* Altura del elemento */
    height: 50%;
    /* Color de fondo */
    background-color: #ff5100;
    /* Radio de borde */
    border-radius: 50% 50% 0 0;
    /*Índice de apilamiento para colocar el elemento detrás de la imagen */
    z-index: -1;
}

.circle-image img {
    /* Ancho de la imagen */
    width: 240px;
    /* Altura de la imagen */
    height: 240px;
    /* Ajuste del contenido de la imagen */
    object-fit: cover;
    /* Radio de borde para hacerla circular */
    border-radius: 50%;
    /* Color del borde */
    border: 3px solid #6758f0;
    /* Margen superior de la imagen */
    margin-top: 3px;
    /* Margen inferior de la imagen */
    margin-bottom: 3px;
}

/* Imagen del avatar del jugador */

/* ANIMACIONES */

@keyframes glow {
    0% {
        box-shadow: 0 0 0 0 rgba(103, 88, 240, 0.5);
    }

    50% {
        box-shadow: 0 0 20px 10px rgba(50, 211, 255, 0.7);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 255, 221, 0.5);
    }
}

@keyframes pedro-pedro {
    0% {
        transform: rotate(0deg) scale(1);
    }
    25% {
        transform: rotate(-90deg) scale(1.1);
    }
    50% {
        transform: rotate(-180deg) scale(1);
    }
    75% {
        transform: rotate(-270deg) scale(1.1);
    }
    100% {
        transform: rotate(-360deg) scale(1);
    }
}

@keyframes bounce {
    to {
      translate: 0 20px;
    }
  }

.animation-active img {
    animation: pedro-pedro 3s linear infinite, bounce 0.2s linear infinite alternate;
}

/* Efecto de glow en la imagen */
.glow img {
    -webkit-animation: glow 3s infinite;
    -moz-animation: glow 3s infinite;
    -o-animation: glow 3s infinite;
    animation: glow 3s infinite;
}


/* ANIMACIONES */ 